We'd also like to know the distribution of tax rates for each county.

The data should have the tax amounts and tax value of the home, so it shouldn't be too hard to calculate. Please include in your report to us the distribution of tax rates for each county so that we can see how much they vary within the properties in the county and the rates the bulk of the properties sit around.

Note that this is separate from the model you will build, because if you use tax amount in your model, you would be using a future data point to predict a future data point, and that is cheating! In other words, for prediction purposes, we won't know tax amount until we know tax value.

In [1]:
import pandas as pd
import numpy as np
import sklearn
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

from matt_property_locations import get_property_data

In [2]:
df = get_property_data()

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df.info()

In [21]:
df.head()

   regionidzip  taxamount  taxvaluedollarcnt  tax_rate
2      96095.0   20800.37          1434941.0  0.014496
3      96424.0   14557.57          1174475.0  0.012395
4      96450.0    5725.17           440101.0  0.013009
5      96446.0    3661.28           287634.0  0.012729
6      96049.0    6773.34           563029.0  0.012030

In [ ]:
df.regionidzip.isnull().value_counts()

In [ ]:
df.taxamount.isnull().value_counts()

In [ ]:
df.taxvaluedollarcnt.isnull().value_counts()

In [3]:
df.dropna(inplace=True)

In [ ]:
df.regionidzip.isnull().value_counts()

In [ ]:
df.taxamount.isnull().value_counts()

In [ ]:
df.taxvaluedollarcnt.isnull().value_counts()

In [ ]:
df.shape

In [4]:
df['tax_rate'] = df.taxvaluedollarcnt / df.taxamount

In [ ]:
df.head()

In [5]:
df['tax_rate'] = df.taxamount / df.taxvaluedollarcnt

In [ ]:
df.head()

In [ ]:
(df.tax_rate > .04).value_counts()

In [6]:
zip_tax = df.groupby('regionidzip').tax_rate.mean()

In [9]:
zip_tax.head()

regionidzip
95982.0    0.018348
95983.0    0.016285
95984.0    0.014242
95985.0    0.012628
95986.0    0.012320
Name: tax_rate, dtype: float64

In [7]:
df.head()

   regionidzip  taxamount  taxvaluedollarcnt  tax_rate
2      96095.0   20800.37          1434941.0  0.014496
3      96424.0   14557.57          1174475.0  0.012395
4      96450.0    5725.17           440101.0  0.013009
5      96446.0    3661.28           287634.0  0.012729
6      96049.0    6773.34           563029.0  0.012030

In [ ]:
#In [41]: result = pd.merge(left, right, on='key')

In [10]:
result = pd.merge(df, zip_tax, on='regionidzip')

In [11]:
result.head()

   regionidzip  taxamount  taxvaluedollarcnt  tax_rate_x  tax_rate_y
0      96095.0   20800.37          1434941.0    0.014496    0.013256
1      96095.0    5554.09           465989.0    0.011919    0.013256
2      96095.0    1727.05           121376.0    0.014229    0.013256
3      96095.0    4964.27           422000.0    0.011764    0.013256
4      96095.0    3954.09           329244.0    0.012010    0.013256

In [15]:
result = result.rename(columns={'tax_rate_x': 'property_tax_rate', 'tax_rate_y': 'county_tax_rate'})

In [16]:
result.head()

,regionidzip,taxamount,taxvaluedollarcnt,property_tax_rate,county_tax_rate
0,96095.0,20800.37,1434941.0,0.014496,0.013256
1,96095.0,5554.09,465989.0,0.011919,0.013256
2,96095.0,1727.05,121376.0,0.014229,0.013256
3,96095.0,4964.27,422000.0,0.011764,0.013256
4,96095.0,3954.09,329244.0,0.012010,0.013256

In [17]:
result['property_tax_rate'] = round(result.property_tax_rate, 3)

In [18]:
result.head()

,regionidzip,taxamount,taxvaluedollarcnt,property_tax_rate,county_tax_rate
0,96095.0,20800.37,1434941.0,0.014,0.013256
1,96095.0,5554.09,465989.0,0.012,0.013256
2,96095.0,1727.05,121376.0,0.014,0.013256
3,96095.0,4964.27,422000.0,0.012,0.013256
4,96095.0,3954.09,329244.0,0.012,0.013256

In [19]:
result['county_tax_rate'] = round(result.county_tax_rate, 3)

In [20]:
result.head()

,regionidzip,taxamount,taxvaluedollarcnt,property_tax_rate,county_tax_rate
0,96095.0,20800.37,1434941.0,0.014,0.013
1,96095.0,5554.09,465989.0,0.012,0.013
2,96095.0,1727.05,121376.0,0.014,0.013
3,96095.0,4964.27,422000.0,0.012,0.013
4,96095.0,3954.09,329244.0,0.012,0.013